# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log
logs/

# IDE — IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# IDE — VS Code
.vscode/

# IDE — Eclipse
.settings/
.classpath
.project

# OS
.DS_Store
Thumbs.db

# Maven (на случай смешанных проектов)
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Spring Boot
*.env
.env*
application-local.yml
application-local.properties
